<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Christmas Countdown 2022 - Find out how many days until Christmas 2022
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="title" content="Christmas Countdown 2022!" />
    <meta
      name="description"
      property="og:description"
      content="How many days until Christmas 2022?  www.xmasclock.com is your Christmas Countdown 2022!  Set it as your homepage to count the number of days until Christmas 2022!"
    />
    <meta
      name="keywords"
      content="Christmas countdown, Christmas countdown 2022, how long until Christmas 2022"
    />
    <meta
      name="google-site-verification"
      content="EZtuPY_tfnWWPZ3GMMPAuxmL7GDmucBxim7KzKqJ0oE"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#1f0000" />
    <meta property="og:url" content="https://www.xmasclock.com" />
    <meta property="og:title" content="Christmas Countdown!" />
    <meta
      property="og:image"
      content="https://www.xmasclock.com/images/thumbnail.png"
    />
    <meta property="fb:admins" content="1442820520" />
    <link rel="canonical" href="https://www.xmasclock.com/" />
    <link rel="image_src" href="images/thumbnail.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.countdown.js"></script>
    <script>
      $(function () {
        var COUNTDOWN_WIDTH = 1024;
        var COUNTDOWN_HEIGHT = 512;

        var xmas = new Date(2022, 11, 25);
        $("body").addClass("standard");
        $("#countdown").countdown({
          until: xmas,
          compact: true,
          layout: $("#countdown").html(),
        });

        function resizeCountdown() {
          var screenWidth = $(window).width();

          scale = Math.min(screenWidth / COUNTDOWN_WIDTH, 1);
          difference = COUNTDOWN_WIDTH - screenWidth;
          $("#countdown-container").css({
            "-webkit-transform":
              "translateY(-50%) translateX(-" +
              difference / 2 +
              "px) scale(" +
              scale +
              ")",
            "-ms-transform":
              "translateY(-50%) translateX(-" +
              difference / 2 +
              "px) scale(" +
              scale +
              ")",
            transform:
              "translateY(-50%) translateX(-" +
              difference / 2 +
              "px) scale(" +
              scale +
              ")",
          });
        }

        $(window).resize(function () {
          resizeCountdown();
        });

        resizeCountdown();
      });
    </script>
  </head>
  <body class="">
    <script>
      if (top.location != self.location) {
        top.location = self.location.href;
      }
    </script>
    <script src="/js/snowstorm.js"></script>
    <div id="header">
      <noscript>
        <div id="noscript">
          <h1>How many days until Christmas 2022</h1>
          ? www.xmasclock.com is your
          <h1>Christmas Countdown 2022</h1>
          ! Use it to count the
          <h1>number of days until Christmas 2022</h1>
          !
        </div>
      </noscript>
      <!-- google_ad_section_start(weight=ignore) -->
      <div id="share-container">
        <ul class="share-buttons">
          <li>
            <a
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.xmasclock.com&amp;t="
              title="Share on Facebook"
              target="_blank"
              onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&amp;t=' + encodeURIComponent(document.URL)); return false;"
              ><img src="/assets/images/share/facebook.png"
            /></a>
          </li>
          <li>
            <a
              href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fwww.xmasclock.com&amp;text=:%20https%3A%2F%2Fwww.xmasclock.com"
              target="_blank"
              title="Tweet"
              onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"
              ><img src="/assets/images/share/twitter.png"
            /></a>
          </li>
          <li>
            <a
              href="https://www.tumblr.com/share?v=3&amp;u=https%3A%2F%2Fwww.xmasclock.com&amp;t=&amp;s="
              target="_blank"
              title="Post to Tumblr"
              onclick="window.open('https://www.tumblr.com/share?v=3&amp;u=' + encodeURIComponent(document.URL) + '&amp;t=' +  encodeURIComponent(document.title)); return false;"
              ><img src="/assets/images/share/tumblr.png"
            /></a>
          </li>
          <li>
            <a
              href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.xmasclock.com%2F&amp;media=https%3A%2F%2Fwww.xmasclock.com%2Fimages%2Fthumbnail.png&amp;description="
              target="_blank"
              title="Pin it"
              onclick="window.open('https://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&amp;media=https%3A%2F%2Fwww.xmasclock.com%2Fimages%2Fthumbnail.png&amp;description=' +  encodeURIComponent(document.title)); return false;"
              ><img src="/assets/images/share/pinterest.png"
            /></a>
          </li>
          <li>
            <a
              href="https://www.reddit.com/submit?url=https%3A%2F%2Fwww.xmasclock.com&amp;title="
              target="_blank"
              title="Submit to Reddit"
              onclick="window.open('https://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&amp;title=' +  encodeURIComponent(document.title)); return false;"
              ><img src="assets/images/share/reddit.png"
            /></a>
          </li>
        </ul>
      </div>
      <!-- google_ad_section_end -->
    </div>
    <div class="custome-countdown">
      <p class="custome-countdown__title">Custom CountDown</p>
    </div>
    <div id="countdown-container">
      <span id="countdown">
        <span class="image{d100}"></span>
        <span class="image{d10}"></span>
        <span class="image{d1}"></span>
        <span class="imageDays"></span>
        <span class="image{h10}"></span>
        <span class="image{h1}"></span>
        <span class="imageHours"></span>
        <span class="image{m10}"></span>
        <span class="image{m1}"></span>
        <span class="imageMins"></span>
        <span class="image{s10}"></span>
        <span class="image{s1}"></span>
        <span class="imageSecs"></span>
      </span>
    </div>
    <div id="footer"></div>
    <!-- google_ad_section_start(weight=ignore) -->
    <div id="copyright">Copyright &copy; 2022 anhpt. All rights reserved.</div>
    <!-- google_ad_section_end -->
  </body>
</html>
